<div class="container text-center">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-3 well">
      <div class="well">
        <img src= {{.p.Image}} class="img-rounded" height="200" width="200" alt="Avatar">
        <h4><a href="#">{{.p.Name}}</a></h4>
      </div>
      <div class="well">
        <!-- <h4><a href="#">Interests</a></h4> -->
        <p>
          <h3><span class="label label-default">{{.p.Group}}</span></h3>
          <h3><span class="label label-default">{{.p.Area}}</span></h3>
          <h3><span class="label label-default">{{.p.MemberType}}</span></h3>
          <h3><span class="label label-success">{{.p.BirthDate}}</span></h3>
          <h3><span class="label label-info">{{.p.Phone}}</span></h3>
          <h3><span class="label label-info">{{.p.Email}}</span></h3>
          <h3><p><span class="label label-info">{{.p.Address}}</span></p></h3>
        </p>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
        Comment Responsibly!.
      </div>

<!--
      <div class="well">
        <div class="thumbnail">
          <h3>Vote of Confidence</h3>
          <button class="btn btn-primary">Info</button>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div>

      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p> -->
    </div>
    <div class="col-sm-8 col-md-7 col-lg-9">

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="well">
           <h3>Education History</h3>
              <table class="table table-striped table-hover table-responsive">
              <thead>
                <tr>
                  <th>Insitution</th>
                  <th>Level</th>
                  <th>Award</th>
                  <th>From</th>
                  <th>To</th>
                </tr>
              </thead>
              <tbody>
                {{range $record := .e}}
                <tr>
                  <td>{{$record.SchoolName}}</td>
                  <td>{{$record.Level}}</td>
                  <td>{{$record.Award}}</td>
                  <td>{{$record.From}}</td>
                  <td>{{$record.To}}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="well">
            <h3>Political Experience</h3>
            <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>Insitution</th>
                <th>Position</th>
                <th>From</th>
                <th>To</th>
              </tr>
            </thead>
            <tbody>
              {{range $record := .j}}
              <tr>
                <td>{{$record.Institution}}</td>
                <td>{{$record.Position}}</td>
                <td>{{$record.From}}</td>
                <td>{{$record.To}}</td>
              </tr>
              {{ end }}
            </tbody>
          </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="well">
           <h3>Employment History</h3>
           <table class="table table-striped table-hover ">
           <thead>
             <tr>
               <th>Insitution</th>
               <th>Position</th>
               <th>From</th>
               <th>To</th>
             </tr>
           </thead>
           <tbody>
             {{range $record := .i}}
             <tr>
               <td>{{$record.Institution}}</td>
               <td>{{$record.Position}}</td>
               <td>{{$record.From}}</td>
               <td>{{$record.To}}</td>
             </tr>
             {{ end }}
           </tbody>
         </table>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="well">
            <h3>Contributions</h3>
            <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>Questions</th>
                <th>Supplementary Questions</th>
                <th>Contributions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Column Content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true">Comment: Best MP Ever</p>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-comment"></span> Comment
              </button>
            </div>
          </div>
        </div>
      </div>

      <li>
<div><a href="javascript:void(0);"><img src="images/pikabob.png" width="55" height="55" alt="pikabob photo avatar"></a></div>
<div>
<header><a href="javascript:void(0);">Pikabob</a> - <span>posted 6 days ago</span></header>
<p>Listen you are going to get a kick out of this one. I've got to tell one of the funniest jokes of all time.</a></p>
</div>
</li>


    </div>
  </div>
</div>
